<!--Mobile  Zone-->
<ion-header *ngIf="ism">
    <ion-navbar color="primary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title (click)="gtHome()" >Easy Lives</ion-title>
      <ion-buttons end>
        <button ion-button (click)="gtLogin()" icon-only>
          <ion-icon name="md-contact"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  <!--Mobile Zone End-->
  <!--Desktop Zone-->
  <ion-header *ngIf="!ism">
    <ion-navbar color="primary">
      <ion-grid>
        <ion-row>
          <ion-col (click)="gtHome()">
              <button ion-button clear color="whiter" large >Easy Lives</button>
            </ion-col>
          <ion-col col-8>
            <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
          </ion-col>
          <ion-col col-2>
            <a href="https://play.google.com/store?hl=en" target="_blank">
              <img src="assets/imgs/playstore.png" class="playstore" />
            </a>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-navbar>
  </ion-header>
  <!--Desktop Zone End-->
  
<ion-content padding>
    <img src="assets/imgs/farmhouse.jpg">

  <ion-slides>
  <ion-slide>
    <ion-grid>
      <ion-row>

        <ion-col col-3 (click)="gtfDisplay()" >
          <ion-card>
            <div class="title">Function Hall</div>
          </ion-card>
        </ion-col>


        <ion-col col-3 (click)="gtfDisplay()" >
          <ion-card>
            Farm House
          </ion-card>
        </ion-col>


        <ion-col col-3 (click)="gtfDisplay()" >
          <ion-card>
            Banquet Hall
          </ion-card>
        </ion-col>


        <ion-col col-3 (click)="gtfDisplay()" >
          <ion-card>
            Resort
          </ion-card>
        </ion-col>

      </ion-row>
    </ion-grid>
</ion-slide>
</ion-slides>

</ion-content>
