page-book-a-venue {
    .cardD {
        position: relative;
        text-align: center;
        height: 600px;
      }
      .cardM {
        position: relative;
        text-align: center;
        height: 200px;
      }
      .function{
        background-image: url("../../assets/imgs/functionhall.jpg") !important ;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .farm{
        background-image: url("../../assets/imgs/farmhouse.jpg") !important ;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .banquet{
        background-image: url("../../assets/imgs/banquethall.jpg") !important ;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .resort{
        background-image: url("../../assets/imgs/resort.jpg") !important ;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .title {
        position: absolute;
        top: 50%;
        font-size: 2.5em;
        width: 100%;
        font-weight: bold;
        color: #fff;
      }
      .overlay{
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: rgba($color: #000000, $alpha: 0.7);
          cursor: pointer;
      }
}
