.playstore {
    float: right;
    margin-top: -20px;
    margin-bottom: -20px;
    width: 100%;
    height: auto;
  }
  
  .secondBarDesktop {
    margin-top: -1%;
    padding: 0;
  }
  
  .btnsSecondBar {
    font-size: 120%;
  }
  
  .swiper-slide {
    height: auto;
    width: 100%;
  }
  
  .footer {
    text-align: center;
  }

  
