<!--Mobile  Zone-->
<ion-header *ngIf="ism">
    <ion-navbar color="primary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title (click)="gtHome()">Easy Lives</ion-title>
      <ion-buttons end>
        <button ion-button (click)="gtLogin()" icon-only>
          <ion-icon name="md-contact"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  <!--Mobile Zone End-->
  <!--Desktop Zone-->
  <ion-header *ngIf="!ism">
    <ion-navbar color="primary">
      <ion-grid>
        <ion-row>
          <ion-col (click)="gtHome()">
              <button ion-button clear color="whiter" large >Easy Lives</button>
            </ion-col>
          <ion-col col-8>
            <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
          </ion-col>
          <ion-col col-2>
            <a href="https://play.google.com/store?hl=en" target="_blank">
              <img src="assets/imgs/playstore.png" class="playstore" />
            </a>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-navbar>
  </ion-header>
  <!--Desktop Zone End-->
 <ion-content>



  <ion-card *ngIf="!ism" >
    <ion-card-content>

      <ion-card-header>
      <h1>Contact Us</h1>
      </ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col col-6 >

            <iframe width="400" height="300" id="gmap_canvas" 
            src="https://maps.google.com/maps?q=Charminar&t=&z=17&ie=UTF8&iwloc=&output=embed"
            frameborder="1px"></iframe>
          </ion-col>


          <ion-col col-3 >
            <h2 class="title">Address :</h2>
            <p>302, Avenue Lane , NewYork</p>
          </ion-col>
          <ion-col col-3>
            <h2 class="title">Phone : </h2>
            <p>+91-9011223344</p>
            <p>040-23456789</p>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-card-content>
  </ion-card>



  <ion-card *ngIf="ism">
    <ion-card-content>
  
      <ion-card-header>
        <h1>Contact Us</h1>
      </ion-card-header>
      <ion-grid>
        <ion-row>
  
            <iframe width="400" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=Charminar&t=&z=17&ie=UTF8&iwloc=&output=embed"
              frameborder="1px"></iframe>
  
          </ion-row>
          
          <ion-row>
            <h2 class="title">Address :</h2>
            <p>302, Avenue Lane , NewYork</p>
          </ion-row>

          <ion-row>
            <h2 class="title">Phone : </h2>
            <p>+91-9011223344</p>
            <p>040-23456789</p>
        </ion-row>
  
      </ion-grid>
    </ion-card-content>
  </ion-card>



</ion-content>
