  <ion-header *ngIf="!ism">
    <ion-navbar color="primary">
      <ion-grid>
        <ion-row>
          <ion-col (click)="gtHome()">
              <button ion-button clear color="whiter" large >Easy Lives</button>
            </ion-col>
          <ion-col col-8>
            <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
          </ion-col>
          <ion-col col-2>
            <a href="https://play.google.com/store?hl=en" target="_blank">
              <img src="assets/imgs/playstore.png" class="playstore" />
            </a>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-navbar>
  </ion-header>


  <ion-content>


<ion-grid>
  <ion-row>
    <ion-col col-2 class="menubar" >

      <button ion-button block color="button" (click)="clear()">Clear</button>

      <div>
        <ion-input type="number" placeholder="Minimum Capacity" (ionChange)="filterMinCapacity()" [(ngModel)]="minCapacity" ></ion-input>
      </div>

      <div>
          <ion-input type="number" placeholder="Maximum Capacity" (ionChange)="filterMaxCapacity()" [(ngModel)]="maxCapacity" ></ion-input>
      </div>

      <div>
        <ion-input type="number" placeholder="Minimum Price" (ionChange)="filterMinPrice()" [(ngModel)]="minPrice" ></ion-input>
      </div>

      <div>
        <ion-input type="number" placeholder="Maximum Price" (ionChange)="filterMaxPrice()" [(ngModel)]="maxPrice" ></ion-input>
      </div>

      <ion-item>
        <ion-label>With In</ion-label>
        <ion-range [(ngModel)]="range" snaps="true" color="button" min="5" max="50" step="5" >
        </ion-range>
      </ion-item>
      {{range}} Kms

    </ion-col>

















    <ion-col col-10 >
        <ion-row>
            <ion-searchbar placeholder="Enter Funtion Hall Name" [(ngModel)]="searchBar" (ionInput)="getItems(searchBar)"></ion-searchbar>
          </ion-row>
          <ion-row *ngFor="let function of functions" >
            <ion-card padding class="funCard" >
              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col col-3 >
                      <img [src]="function.ImgD"/>
                    </ion-col>
                    <ion-col col-7>
                      <h1 class="Name" >Name : {{function.key}} </h1>
                      <h2> Max Capacity :  {{function.MaxCapacity}} </h2>
                      <h2>Min Capacity : {{function.MinCapacity}} </h2>
                      <h2> Amount : {{function.MBAmount}}</h2>
                    </ion-col>
    
                    <ion-col col-2 >
    
                    </ion-col>
    
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
        </ion-row>
    
    </ion-col>
  </ion-row>
</ion-grid>










</ion-content>